.container{
    max-width: 1440px;
    margin: 0px auto;
}

.banner-section {
    padding: 50px 20px;
  }
  
  .banner-title {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .banner-content {
    font-size: 1.2rem;
    line-height: 1.6;
  }